* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #020202;
}

/* ========================
   HOME PAGE - Using grid-template-areas
   ======================== */

.container {
    display: grid;
    grid-template-areas:
        "navbar navbar"
        "main main"
        "main main"
        "footer footer";
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
    min-height: 100vh;
    /* max-width: 1400px; */
    margin: 0 auto;
}


/* Navbar */
.navbar {
    grid-area: navbar;
    background-color: #000000;
    color: rgb(38, 187, 57);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    font-size: 1.5rem;
}

.navbar ul {
    display: flex;
    /* list-style: none; */
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #3498db;
}

.navbar a:visited {
    color: #95a5a6;
}

.navbar a:visited:hover {
    color: #3498db;
}

ul {
    list-style-type: none;

}

.ping {
    -webkit-animation: ping 0.8s ease-in-out infinite both;
    animation: ping 0.8s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2026-1-29 9:58:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation ping
 * ----------------------------------------
 */
@-webkit-keyframes ping {
    0% {
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
        opacity: 0.8;
    }

    80% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(2.2);
        transform: scale(2.2);
        opacity: 0;
    }
}

@keyframes ping {
    0% {
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
        opacity: 0.8;
    }

    80% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(2.2);
        transform: scale(2.2);
        opacity: 0;
    }
}

.logo {
    color: #000000;
    background-color: greenyellow;
    border-radius: 5rem;
}

/* radar */
html {
    overflow: hidden;
    height: 100%;
    background: radial-gradient(hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 1)),
        linear-gradient(90deg, dimgrey 1px, transparent 1px),
        linear-gradient(dimgrey 1px, grey 1px);
    background-size: 100%, 2px 1px, 1px 2px;
}

.radar,
.sweep {
    position: absolute;
}

.radar {
    overflow: hidden;
    /* top: 50%; */
    left: 50%;
    margin: -35%;
    width: 248px;
    height: 248px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.5),
        inset 0 0 0 1px hsla(0, 0%, 100%, 0.15);
    background:
        repeating-radial-gradient(transparent 0 23px, #287a33 24px 26px, #0000 27px),
        linear-gradient(transparent 49.75%, #0e4c42 0 50.25%, transparent 0) 50% no-repeat,
        linear-gradient(90deg, transparent 49.75%, #0e4c42 0 50.25%, transparent 0) 50% no-repeat,
        linear-gradient(#333, #111);
    background-size: 100%, 218px 218px, 218px 218px, 100%;
}

.sweep {
    box-sizing: border-box;
    top: 16px;
    left: 16px;
    border-right: solid 1px hsla(145, 50%, 40%, .3);
    width: 108px;
    height: 108px;
    border-radius: 100% 0 0 0;
    transform-origin: 100% 100%;
    background: linear-gradient(50deg, rgba(34, 34, 34, 0) 56%, hsla(145, 50%, 40%, 1));
    animation: sweep 5s infinite linear;
}

@keyframes sweep {
    to {
        transform: rotate(360deg);
    }
}

.main-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    grid-area: main;
    background-color: #030420;
    color: rgb(212, 212, 212);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgb(38, 187, 57);
    width: 80%;
    height: 300px;
}

.text-in-radar h2{
    color:rgb(38, 187, 57);
}

.container-button{

    margin: 16% auto;
    grid-area: main;
    color: rgb(212, 212, 212);
padding-right:60%;
}

.button{
    margin: 2% auto;
    background-color: #030420;
    color: rgb(212, 212, 212);
    padding: 15px;
    border-radius: 10px;
}